.card-title-map {
    background: #F9F9FF;
    height: 38px;
    width: 400px;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 7px 7px;
}
